{{page-title 'About'}}
<main id='tg-main' class='tg-main tg-haslayout tg-paddingzero'>
  <!--************************************
					Tailor Online Start
			*************************************-->
  <section class='tg-sectionspace tg-haslayout'>
    <div class='container'>
      <div class='row'>
        <div class='tg-shortcode tg-tailoronline'>
          <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle'>
            <div class='tg-shortcodetext'>
              <div class='tg-heading'>
                <h2>Hi! We’re Tailor This</h2>
              </div>
              <div class='tg-description'>
                <p>Consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore etaiate dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit inchieach voluptate velit esse cillum dolore eu
                  fugiat.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum. Sed ut
                  perspiciatis unde omnis iste natus error sitateu voluptatem
                  accusantium doloremque laudantium.</p>
              </div>
              <div class='tg-btns'>
                <a class='tg-btn' href='#' target='_blank'>Start Customizing</a>
                <LinkTo class='tg-btn' @route='howto'>Video Tutorial</LinkTo>
              </div>
            </div>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle'>
            <div class='tg-shortcodeimg tg-shortcodemultiimgs'>
              <figure><img
                  src='images/img-01.jpg'
                  alt='image description'
                /></figure>
              <figure><img
                  src='images/img-02.jpg'
                  alt='image description'
                /></figure>
              <figure><img
                  src='images/img-03.jpg'
                  alt='image description'
                /></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
					Tailor Online End
			*************************************-->
  <!--************************************
					Statastic Start
			*************************************-->
  <section class='tg-sectionspace tg-bglight tg-haslayout'>
    <div class='container'>
      <div class='row'>
        <div id='tg-statastics' class='tg-shortcode tg-statastics'>
          <div class='tg-statastic'>
            <span class='tg-statasticicon'><i class='icon-Icon_11'></i></span>
            <h2><span
                data-from='0'
                data-to='598'
                data-speed='8000'
                data-refresh-interval='50'
              >598</span></h2>
            <h3>Happy Customers</h3>
          </div>
          <div class='tg-statastic'>
            <span class='tg-statasticicon'><i class='icon-Icon_19'></i></span>
            <h2><span
                data-from='0'
                data-to='1240'
                data-speed='8000'
                data-refresh-interval='50'
              >1240</span></h2>
            <h3>Location Pinned</h3>
          </div>
          <div class='tg-statastic'>
            <span class='tg-statasticicon'><i class='icon-Icon_08'></i></span>
            <h2><span
                data-from='0'
                data-to='2300'
                data-speed='8000'
                data-refresh-interval='50'
              >2300</span></h2>
            <h3>Suits Sketched</h3>
          </div>
          <div class='tg-statastic'>
            <span class='tg-statasticicon'><i class='icon-Icon_18'></i></span>
            <h2><span
                data-from='0'
                data-to='3650'
                data-speed='8000'
                data-refresh-interval='50'
              >3650</span></h2>
            <h3>Good Relation Built</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
					Statastic End
			*************************************-->
  <!--************************************
					Team Members Start
			*************************************-->
  <section class='tg-sectionspace tg-haslayout'>
    <div class='container'>
      <div class='row'>
        <div
          class='col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2'
        >
          <div class='tg-sectionhead'>
            <div class='tg-heading'>
              <h2>Team Behind Tailor This</h2>
            </div>
            <div class='tg-description'>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore etaiate dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip exea
                commodo consequat.</p>
            </div>
          </div>
        </div>
        <div
          id='tg-teammembers'
          class='tg-teammembers owl-carousel tg-teammembers'
        >
          <div class='item'>
            <div class='tg-member'>
              <figure><a href='javascript:void(0);'><img
                    src='images/img-01.jpg'
                    alt='image description'
                  /></a></figure>
              <div class='tg-membercontent'>
                <div class='tg-membername'>
                  <h3><a href='javascript:void(0);'>Benedict Duque</a></h3>
                </div>
                <div class='tg-memberdesignation'>
                  <h4><a href='javascript:void(0);'>Manager, CEO</a></h4>
                </div>
                <ul class='tg-socialicons'>
                  <li class='tg-facebook'><a href='javascript:void(0);'><i
                        class='fa fa-facebook'
                      ></i></a></li>
                  <li class='tg-twitter'><a href='javascript:void(0);'><i
                        class='fa fa-twitter'
                      ></i></a></li>
                  <li class='tg-linkedin'><a href='javascript:void(0);'><i
                        class='fa fa-linkedin'
                      ></i></a></li>
                  <li class='tg-googleplus'><a href='javascript:void(0);'><i
                        class='fa fa-google-plus'
                      ></i></a></li>
                  <li class='tg-rss'><a href='javascript:void(0);'><i
                        class='fa fa-rss'
                      ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='tg-member'>
              <figure><a href='javascript:void(0);'><img
                    src='images/img-02.jpg'
                    alt='image description'
                  /></a></figure>
              <div class='tg-membercontent'>
                <div class='tg-membername'>
                  <h3><a href='javascript:void(0);'>Benedict Duque</a></h3>
                </div>
                <div class='tg-memberdesignation'>
                  <h4><a href='javascript:void(0);'>Manager, CEO</a></h4>
                </div>
                <ul class='tg-socialicons'>
                  <li class='tg-facebook'><a href='javascript:void(0);'><i
                        class='fa fa-facebook'
                      ></i></a></li>
                  <li class='tg-twitter'><a href='javascript:void(0);'><i
                        class='fa fa-twitter'
                      ></i></a></li>
                  <li class='tg-linkedin'><a href='javascript:void(0);'><i
                        class='fa fa-linkedin'
                      ></i></a></li>
                  <li class='tg-googleplus'><a href='javascript:void(0);'><i
                        class='fa fa-google-plus'
                      ></i></a></li>
                  <li class='tg-rss'><a href='javascript:void(0);'><i
                        class='fa fa-rss'
                      ></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='tg-member'>
              <figure><a href='javascript:void(0);'><img
                    src='images/img-03.jpg'
                    alt='image description'
                  /></a></figure>
              <div class='tg-membercontent'>
                <div class='tg-membername'>
                  <h3><a href='javascript:void(0);'>Benedict Duque</a></h3>
                </div>
                <div class='tg-memberdesignation'>
                  <h4><a href='javascript:void(0);'>Manager, CEO</a></h4>
                </div>
                <ul class='tg-socialicons'>
                  <li class='tg-facebook'><a href='javascript:void(0);'><i
                        class='fa fa-facebook'
                      ></i></a></li>
                  <li class='tg-twitter'><a href='javascript:void(0);'><i
                        class='fa fa-twitter'
                      ></i></a></li>
                  <li class='tg-linkedin'><a href='javascript:void(0);'><i
                        class='fa fa-linkedin'
                      ></i></a></li>
                  <li class='tg-googleplus'><a href='javascript:void(0);'><i
                        class='fa fa-google-plus'
                      ></i></a></li>
                  <li class='tg-rss'><a href='javascript:void(0);'><i
                        class='fa fa-rss'
                      ></i></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--************************************
					Team Members End
			*************************************-->
  <!--************************************
					Newsletter Start
			*************************************-->
  <section class='tg-sectionspace tg-bglight tg-haslayout'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
          <form class='tg-themeform tg-formnewsletter'>
            <fieldset>
              <div class='tg-formtitle'>
                <h3><span>Get Latest Updates &amp; Info</span>Signup For
                  Newsletter!</h3>
              </div>
              <div class='form-group'>
                <input
                  type='email'
                  class='form-control'
                  name='email'
                  placeholder='Enter Your Email Here'
                />
                <button type='button' class='tg-btn'>Signup Now</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
					Newsletter End
			*************************************-->
  <!--************************************
					Trusted Start
			*************************************-->
  <section class='tg-sectionspace tg-haslayout'>
    <div class='container'>
      <div class='row'>
        <div
          class='col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2'
        >
          <div class='tg-sectionhead'>
            <div class='tg-heading'>
              <h2>Trusted By Many</h2>
            </div>
            <div class='tg-description'>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore etaiate dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip exea
                commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-13'>
          <ul class='tg-brands'>
            <li class='tg-brand'><figure><a href='javascript:void(0);'><img
                    src='images/brands/img-01.png'
                    alt='image description'
                  /></a></figure></li>
            <li class='tg-brand'><figure><a href='javascript:void(0);'><img
                    src='images/brands/img-02.png'
                    alt='image description'
                  /></a></figure></li>
            <li class='tg-brand'><figure><a href='javascript:void(0);'><img
                    src='images/brands/img-03.png'
                    alt='image description'
                  /></a></figure></li>
            <li class='tg-brand'><figure><a href='javascript:void(0);'><img
                    src='images/brands/img-04.png'
                    alt='image description'
                  /></a></figure></li>
            <li class='tg-brand'><figure><a href='javascript:void(0);'><img
                    src='images/brands/img-05.png'
                    alt='image description'
                  /></a></figure></li>
            <li class='tg-brand'><figure><a href='javascript:void(0);'><img
                    src='images/brands/img-06.png'
                    alt='image description'
                  /></a></figure></li>
            <li class='tg-brand'><figure><a href='javascript:void(0);'><img
                    src='images/brands/img-07.png'
                    alt='image description'
                  /></a></figure></li>
            <li class='tg-brand'><figure><a href='javascript:void(0);'><img
                    src='images/brands/img-08.png'
                    alt='image description'
                  /></a></figure></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
					Trusted End
			*************************************-->
</main>